body, ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
}

a{
  text-transform: uppercase;
  text-decoration: none;
  color: grey;
}

/* Css Nav */

.tituloHeader{
  font-weight: bold;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background: rgb(231, 228, 228);
  margin-bottom: 40px;
  z-index: 1;
}

.menu{
  display: flex;
}

.menu li{
  font-size: 15px;
}

.menu li a{
  display: block;
  padding: 10px;
}

.iconeCarrinho{
  height:25px
}
/* Título produto */

.titulo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.descricaoTitulo{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: inherit;
    color: gray; 
}

h1:before,
h1:after {
  content: '';
  border-top: 1px solid #e8e4e4;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h1:after {
  margin: 0 0 0 20px;
}

/* Css produtos */
.container{
  min-height: 100vh;
  background: #fff;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.card{
  margin: 10px;
  flex: 1 1 230px;
  background: rgb(231, 228, 228);
  height: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.imagemProdutos{
  width: 110px;
}

.descricaoProdutos{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(128, 128, 128);
  font-size: 14px;
}

/* Responsivo */

@media (max-width: 420px){
  .card{
    margin: 25px;
  }

  .menu li{
    margin: 5px -5px;
  }
} 

@media (max-width: 768px){
  .card{
    margin: 25px;
  }
}
